<div id="div1" class="container" (drop)="drop($event)" (dragover)="allowDrop($event)">
  <img id="drag1" src="http://www.w3schools.com/html/img_w3slogo.gif" draggable="true"
    (dragstart)="drag($event)" width="336" height="69">
</div>

<div id="div2" class="container" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>

<div id="div1" class="minuto" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
<div *ngFor="let item of arrayDia">
  <div id="div1" class="minuto" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
</div>
